Use of Python for Data Science & A.I. - Exercises

Question 1: Create a table (data frame) with 4 columns:
    id: 1, 2, 3, 4, 5
    age: 15, 18, 11, 17, 20
    weight: 54, 68, 41, 59, 65
    temp: 36.5, 37.1, 36.4, 37.2, 36.9

In [77]:
import pandas as pd

dfA=pd.DataFrame({'id':[1,2,3,4,5],'age':[15,18,11,17,20], 'weight':[54,68, 41, 59, 65], 'temp':[36.5,37.1, 36.4, 37.2, 36.9]}, columns=['id', 'age', 'weight', 'temp'])

print(dfA)

   id  age  weight  temp
0   1   15      54  36.5
1   2   18      68  37.1
2   3   11      41  36.4
3   4   17      59  37.2
4   5   20      65  36.9

Question 2:
a. Copy the 2nd column from the table into a variable. What data type does
this variable have?

In [56]:
second_column = dfA.iloc[:,1]
print(type(second_column))

# Answer : Is a Series

<class 'pandas.core.series.Series'>

b. Show the 3rd row off the table

In [57]:
print(dfA.iloc[2,:])

id         3.0
age       11.0
weight    41.0
temp      36.4
Name: 2, dtype: float64


c. Calculate the minimum and maximum age

In [58]:
print(dfA['age'].min())
print(dfA['age'].max())

11
20

d. Calculate the sum of all weights and divide that by the number of weights

In [59]:
print(dfA['weight'].sum()/dfA['weight'].count())

57.4


e. Divide all weights by 1000

In [60]:
print(dfA['weight']/1000)

0    0.054
1    0.068
2    0.041
3    0.059
4    0.065
Name: weight, dtype: float64


f. Convert all temperatures to Fahrenheit

In [61]:
print(dfA['temp'].apply(lambda x: (x*9/5)+32))

0    97.70
1    98.78
2    97.52
3    98.96
4    98.42
Name: temp, dtype: float64

Question 3:
a. Save the table in a file

In [62]:
import os
print (os.getcwd())
os.chdir('/Users/vladbuinceanu/Documents/KdG/Data and A.I./Sem 2/Python/Python/Sources')

dfA.to_csv('dfA.csv', sep=',', index=False)

/Users/vladbuinceanu/Documents/KdG/Data and A.I./Sem 2/Python/Python/Sources

b. Read in the table in IntelliJ (Python) as a data frame. Change something in it and save again

In [71]:
dfA = pd.read_csv('dfA.csv', sep=',')
dfA.drop([4], inplace=True)
dfA.to_csv('dfA.csv', sep=',', index=False)

   id  age  weight  temp
0   1   15      54  36.5
1   2   18      68  37.1
2   3   11      41  36.4
3   4   17      59  37.2

c. Read the table from the file

In [72]:
print(pd.read_csv('dfA.csv', sep=','))

   id  age  weight  temp
0   1   15      54  36.5
1   2   18      68  37.1
2   3   11      41  36.4
3   4   17      59  37.2

Question 4:
a. Delete the "id" column

In [73]:
dfA.drop('id', axis=1, inplace=True);
print(dfA)

   age  weight  temp
0   15      54  36.5
1   18      68  37.1
2   11      41  36.4
3   17      59  37.2


b. Add a column "length" with data: 160, 175, 162, 169, 179

In [83]:
dfA['length'] = [160, 175, 162,169, 179]

print(dfA)

   id  age  weight  temp  length
0   1   15      54  36.5     160
1   2   18      68  37.1     175
2   3   11      41  36.4     162
3   4   17      59  37.2     169
4   5   20      65  36.9     179


c. Calculate the BMI of each person in the table

In [87]:
dfA['bmi'] = dfA['weight']/((dfA['length']/100) *(dfA['length']/100))
print(dfA)

   id  age  weight  temp  length        bmi
0   1   15      54  36.5     160  21.093750
1   2   18      68  37.1     175  22.204082
2   3   11      41  36.4     162  15.622619
3   4   17      59  37.2     169  20.657540
4   5   20      65  36.9     179  20.286508


d. Add this BMI as a column to the table

In [ ]:
# Did previous


e. Retain only the weights that are smaller or equal to 60 from the weight
column.

In [88]:
dfA['weight'] = dfA['weight'].where(dfA['weight'] <= 60)
print(dfA)

   id  age  weight  temp  length        bmi
0   1   15    54.0  36.5     160  21.093750
1   2   18     NaN  37.1     175  22.204082
2   3   11    41.0  36.4     162  15.622619
3   4   17    59.0  37.2     169  20.657540
4   5   20     NaN  36.9     179  20.286508


f. In the age column, replace all ages greater or equal to 18 by 19

In [89]:
dfA[(dfA.age >= 18)] = 19
print(dfA)

   id  age  weight  temp  length        bmi
0   1   15    54.0  36.5     160  21.093750
1  19   19    19.0  19.0      19  19.000000
2   3   11    41.0  36.4     162  15.622619
3   4   17    59.0  37.2     169  20.657540
4  19   19    19.0  19.0      19  19.000000


g. Find all temperatures of persons over 16 years of age

In [91]:
print(dfA['temp'].where(dfA['age'] > 16))

0     NaN
1    19.0
2     NaN
3    37.2
4    19.0
Name: temp, dtype: float64

Question 6:
a. Create a function "replace(myList, to_look_for, replacement)" that looks for a value in a list and replaces it with another.

In [92]:
def replace(myList, to_look_for, replacement):
    for i in range(len(myList)):
        if myList[i] == to_look_for:
            myList[i] = replacement
    return myList


b. Test the function by replacing the value 30 with 42 in the list [ 10, 20, 30,
30, 30 ].

In [93]:
list = [10, 20, 30, 30, 30]
replace(list, 30, 42)
print(list)

[10, 20, 42, 42, 42]


c. Try if your function also works on a numpy array and a pandas Serie

In [96]:
import numpy as np
array = np.array([10, 20, 30, 30])
replace(array, 30, 42)
print(array)

series = pd.Series([10, 20, 30, 30])
replace(series, 30, 42)
print(series)

# It works !

[10 20 42 42]
0    10
1    20
2    42
3    42
dtype: int64