Data Management - Exercises

Question 1: Read the CSV files containing the delay data of U.S. airlines in two
DataFrames. You can find this information at the following URLs:#%%
➢ https://raw.githubusercontent.com/nickdcox/learn-airline-
delays/main/delays_2018.csv (call this dataframe 'delays18'`)
➢ https://raw.githubusercontent.com/nickdcox/learn-airline-
delays/main/delays_2019.csv (call this dataframe 'delays19') ➢ https://raw.githubusercontent.com/nickdcox/learn-airline-

In [ ]:
import pandas as pd

delays18 = pd.read_csv('https://raw.githubusercontent.com/nickdcox/learn-airline-delays/main/delays_2018.csv')
delays19 = pd.read_csv('https://raw.githubusercontent.com/nickdcox/learn-airline-delays/main/delays_2019.csv')

Concate the two dataframes into a single dataframe called ‘delays’, and then display the total
number of rows. You can concatenate dataframes with the function 'concat' or with the
method 'append'. Create a new index when concatenating, which can be done with a certain
parameter. In total, you should get 41177 rows. Check that.

In [ ]:
delays = pd.concat([delays18, delays19], ignore_index=True)
print(delays)

Inspect the data type of the date column. It is object, not datetime. Change this to datetime
(use as format '%Y-%m')

In [ ]:
delays['date'] = pd.to_datetime(delays['date'], format='%Y-%m')

Remove all rows of which:
   -  the airport does not have arriving flights (arr_flights),
   - with empty carrier or empty airports,
   -the date is not between 2018 and 2019.
In total, you should now have 41077 rows left. Check that.

In [ ]:
delays = delays[(delays.date >= '2018-01') &
                    (delays.date <= '2019-12') &
                    delays.arr_flights.notnull() &
                    delays.carrier.notnull() &
                    delays.airport.notnull()]

print(delays)

View a list of all airports whose airport is located in Tennessee. These airports have the letters  'TN:' in their 'airport_name'

In [ ]:
print(delays[delays.airport_name.str.contains('TN:', na=False)])

Import the coordinate file from the URL: https://raw.githubusercontent.com/nickdcox/learn-
airline-delays/main/airport_coordinates.csv. This file contains the length and latitudes of
several U.S. airports as well as their 'airport' code.

In [ ]:
coordinates = pd.read_csv('https://raw.githubusercontent.com/nickdcox/learn-airline-delays/main/airport_coordinates.csv')

display(coordinates)

First, create a new dataframe, called 'airports', with a list of airports and their code ('airport'
and 'airport_name'). This new dataframe must not contain duplicates. Now you can merge the
two dataframes on the 'airport' key with the 'merge' method or 'merge' function.

In [15]:
airports = delays[['airport', 'airport_name']].drop_duplicates().reset_index(drop=True)

airports = airports.merge(coordinates, on='airport')

display(airports)

,airport,airport_name,lat,long
0,BIS,"Bismarck/Mandan, ND: Bismarck Municipal",46.778889,-100.752500
1,BNA,"Nashville, TN: Nashville International",36.126667,-86.681944
2,BOI,"Boise, ID: Boise Air Terminal",43.565278,-116.225000
3,BPT,"Beaumont/Port Arthur, TX: Jack Brooks Regional",29.950833,-94.020000
4,BUF,"Buffalo, NY: Buffalo Niagara International",42.941111,-78.736389
...,...,...,...,...
355,PAE,"Everett, WA: Snohomish County",47.908333,-122.281389
356,ATY,"Watertown, SD: Watertown Regional",44.908889,-97.154167
357,PIR,"Pierre, SD: Pierre Regional",44.383611,-100.284167
358,BFM,"Mobile, AL: Mobile Downtown",30.626389,-88.068056
359,XWA,"Williston, ND: Williston Basin International",48.260833,-103.751111

Calculate the average length and latitudes of all airports whose code starts with the letter 'B'.

In [24]:
airport_B = airports[airports.airport.str.startswith('B', na=False)]
display(airport_B.lat.mean())
display(airport_B.long.mean())

40.776657706129036

-96.84237455129033

<-------------------------------->

Question 2

The neighbor has placed a number of sensors in his house. The sensors fill a log file with data. In the file "smartDevices.csv" you see the data of a number of days. The neighbor
has asked you to write a script with which he can create a new CSV every month that writes a number of data on a daily basis. To do this you need to group data per day.

In [40]:
import os
os.chdir('/Users/vladbuinceanu/Documents/KdG/Data and A.I./Sem 2/Python/Python/Sources')

df1 = pd.read_csv('smartDevices.csv', delimiter=';', skiprows=4, decimal=',', index_col=False)
display(df1.head())

,Login Name,Gateway Mac Address,Device-ID,Device,Date,Hour,Value,Unit,Cost (EUR),CO2 (kg),Type,Consumer / Producer,Main / Sub-counter,Type device,Room,Group-Ids,"Groups,,,"
0,bla@hotmail.com,1.230000e+11,5653a456,washing machine,21/01/2018,0:00,0.0002,kWh,0.0,0,electricity,Consumer,Sub-counter,WASHINGMACHINE,DefaultRoom,NaN,NaN
1,bla@hotmail.com,1.230000e+11,5653a456,washing machine,21/01/2018,0:15,0.0001,kWh,0.0,0,electricity,Consumer,Sub-counter,WASHINGMACHINE,DefaultRoom,NaN,NaN
2,bla@hotmail.com,1.230000e+11,5653a456,washing machine,21/01/2018,0:30,0.0001,kWh,0.0,0,electricity,Consumer,Sub-counter,WASHINGMACHINE,DefaultRoom,NaN,NaN
3,bla@hotmail.com,1.230000e+11,5653a456,washing machine,21/01/2018,0:45,0.0001,kWh,0.0,0,electricity,Consumer,Sub-counter,WASHINGMACHINE,DefaultRoom,NaN,NaN
4,bla@hotmail.com,1.230000e+11,5653a456,washing machine,21/01/2018,1:00,0.0001,kWh,0.0,0,electricity,Consumer,Sub-counter,WASHINGMACHINE,DefaultRoom,NaN,NaN

Day of the week

In [46]:
df1['Datetime'] = df1[['Date','Hour']].astype(str).apply(' '.join, axis=1).apply(pd.to_datetime, format='%d/%m/%Y %H:%M').dt.tz_localize('Europe/Brussels')

df1['Day of the week'] = df1.Datetime.dt.day_name()

Total consumption in kWh for that day (only data of which the unit is kWh)

In [52]:
df1.Value = pd.to_numeric(df1.Value.replace(',','.', regex=True))
total_consumption = df1.Value[df1.Unit == 'kWh'].groupby(df1['Day of the week']).mean().reindex(['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'])
display(total_consumption)

Day of the week
Monday       0.002809
Tuesday      0.005877
Wednesday    0.005417
Thursday     0.003838
Friday       0.005408
Saturday     0.002652
Sunday       0.006041
Name: Value, dtype: float64

Average temperature in the living room (measurements for LIVING ROOM only)

In [54]:
average_lr = df1.Value[(df1.Unit == 'Celsius') & (df1.Device == 'LIVING ROOM')].groupby(df1['Day of the week']).mean().reindex(['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday','Saturday', 'Sunday'])

display(average_lr)

Day of the week
Monday             NaN
Tuesday      16.733333
Wednesday    16.690104
Thursday     16.554688
Friday       17.669271
Saturday     17.283854
Sunday       18.332031
Name: Value, dtype: float64

In [56]:
df2 = pd.DataFrame({'Consumption': total_consumption, 'Avarage Temperature' : average_lr})
display(df2)

                 Consumption  Avarage Temperature
Day of the week
Monday              0.002809                  NaN
Tuesday             0.005877            16.733333
Wednesday           0.005417            16.690104
Thursday            0.003838            16.554688
Friday              0.005408            17.669271
Saturday            0.002652            17.283854
Sunday              0.006041            18.332031

Question 3

We want to be able to perform analyses on the logs of a web server. An example
log  file  UofS_access_log.small  can  be  downloaded  from  Canvas.  To  be  able  to  perform
analyses on it you need to get the relevant data in a data frame. This should be an automatic
process so that each log can be loaded. Below is an example of the first rows:

In [58]:
df1 = pd.read_csv('UofS_access_log.small', sep=' ', header=None, encoding='latin', on_bad_lines='skip')
display(df1.head())

,0,1,2,3,4,5,6,7
0,cad49.cadvision.com,-,-,[01/Jun/1995:00:53:19,-0600],GET /~lowey/webville/icons/blank_32.gif,200,167
1,130.89.250.24,-,-,[01/Jun/1995:02:45:12,-0600],GET /~lowey/webville/icons/south_32.gif,200,210
2,130.54.25.198,-,-,[01/Jun/1995:03:29:56,-0600],GET /~macphed/finite/fe_resources/node92.html,200,1668
3,148.81.17.41,-,-,[01/Jun/1995:04:02:17,-0600],GET /~friesend/tolkien/rootpage.html,200,461
4,anumsun6.univ-st-etienne.fr,-,-,[01/Jun/1995:04:40:30,-0600],GET /~macphed/finite/fe_resources/node58.html,200,1707