In [ ]:
import pandas as pd
import numpy as np
dataFrame = pd.DataFrame()

# Cum sa afli cate NA values are in tot tabelu

In [ ]:
dataFrame.isna().sum().sum()

# Cum sa faci o coloana din tabel Category

In [ ]:
dataFrame['coloana'] = pd.Series(dataFrame['coloana'], dtype='category')

# Cum salvezi ca csv

In [ ]:
dataFrame.to_csv("nume", index=False, header=True)

# Cum selectezi date din tabel cu iloc (localize data using an index)

In [ ]:
dataFrame.iloc[0] # The first row
dataFrame.iloc[-1] # The last row
dataFrame.iloc[0:2] # The first two rows
dataFrame.iloc[:,0] # The first column
dataFrame.iloc[1:3, 1:3] # Row 1 and 2 and column 1 and 2ame.to_csv('export_dataFrame.csv', index=False, header=True)

# Dataframe operations

In [ ]:
# Accessing data in the dataframe
dfC = pd.data.frame()

print(dfC.iloc[0][0]) #element in first row & in first column
print(dfC.iloc[0]) #data in the first row
print(dfC.iloc[-1]) #data in the last row
print(dfC.iloc[0:2]) #data in the first 2 rows
print(dfC.iloc[:,0]) #data in the first column
print(dfC.iloc[1:3,1:2]) #data in Row 1 & 2 and column 1
print(dfC.loc[0]['City']) #element in first row & in'City'-column
print(dfC.loc[:, 'City']) #data in 'City'-column
print(dfC.loc[1:3, 'City'])#data in rows 1,2 & 3 'City'-column
print(dfC.iat[0, 0]) #element in first row & in first column
print(dfC.at[0,'City']) #element in first row & in'City'-column
print(dfC['City'][0]) #element in first row & in 'City'-column
print(dfC[0:1]['City']) #element in first row & in 'City'-column
print(dfC[0:3]) #data in the first 3 rows
print(dfC['City']) #data in 'City'-column
print(dfC[0:3] ['City']) #data in the first 3 rows

# Delete a column
dfD = pd.dataFrame()
dfD.pop('E') #shows content of deleted row
del dfD['D']
dfD.drop(['A','B'], axis=1, inplace=True) #delete one or more
# Delete a row
dfD.drop([1,2], inplace=True) # """ indicate the indexes of the rows to be dropped """

# Delete duplicate rows
dfD=pd.DataFrame (data=np.array([[1,2,3], [4,5,6],[7,8,9]]),columns=['A', 'B', 'C'])
dfE=pd.DataFrame (data=np.array([[4,5,6]]), columns=['A', 'B', 'C'])
dfD=dfD.append(dfE, ignore_index = True)
dfD.drop_duplicates(keep='last', inplace=True)

# Merge datasets

In [ ]:
set1 = pd.dataFrame()
set2 = pd.dataFrame()
merged = pd.merge(set1, set2, on='name')

# Comenzi pt NaN

In [ ]:
df = pd.DataFrame()
df.isna().sum().sum() #total number of NA-values in de dataframe
rowsWithNaN = dfD[dfD.isna(). any(axis=1)] #the rows containing NA's
columnsWithNaN = dfD[dfD.columns[dfD.isna().any(axis=0)]] #the colomns containing NA's

# Cum faci categorii de alea

In [ ]:
x = 'plm'
df[df.columns[x]]= df[df.columns[x]].astype(pd.CategoricalDtype(categories=df[df.columns[x]].unique()))

# Ordered
df[df.columns[x]]= df[df.columns[x]].astype(pd.CategoricalDtype( categories=['value_1',..., 'value_n'],ordered=True))